<h1>View01#index</h1>
<p>Find me in app/views/view01/index.html.erb</p>

<p>
  <select data-bind="options: sources, value:fileName"></select>
</p>
<p>
  <img id="img" data-bind="attr: {src: fileName}"></img>
  <button id="button">復号</button>
  <canvas id="canvas" width="320" height="200"></canvas>
</p>
