<h1>1302成果報告</h1>
<p>
  <select data-bind="options: sources, value:fileName"></select>
</p>
<p>
  <img id="img" data-bind="attr: {src: fileName}"></img>
  <button id="button">復号</button>
  <canvas width="320" height="200" id="hoge"></canvas>
</p>
